@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: black url('../imagens/espaco.jpg') center center no-repeat fixed;

}

main {
    background-color: snow;
    border: 1px solid rgba(0, 0, 0, 0.500);
    border-radius: 15px;
    
    width: 250px;
    height: 510px;
    box-shadow: 0px 0px 10px 10px #244b72;
    overflow: hidden; /*tudo que estiver para fora da Div, irá ser cortado*/
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: width 0.3s, height 0.3s; /*efeito de transição na mudanã do W e do H da box*/
    transition-timing-function: ease; /* suavisar o efeito de transição*/
    /*todo efeito deve ser colocado por último nos seletores*/
}


div#imagem {
    display: block;
    background: black url('../imagens/Color-edge.jpg') center top no-repeat fixed;
    background-size: cover;
    height: 200px;
}

div#formulario>H1 {
    font-size: 1.5em;
    margin: 5px 0px;
    text-align: center;
}

div#formulario>p {
    font-size: 0.8em;
    margin: 10px 0px;
    text-align: justify;
}

div#formulario {
    padding: 0px 10px;
}

div.campo {
    border-radius: 8px;
    color: snow;
    margin: 5px 0px;
    border: 1px solid #5498C5;
    background-color: #2f669e;
}

div.campo>label {
    display: none;
}

div.campo>input {
    background-color: snow;
    border-radius: 8px;
    padding: 8px;
    width: calc(100% - 42px); /*Cálculo para proporções de medidas*/
    transform: translateY(-3px);
}

div>span {
    width: 35px;
    padding: 5px;
    font-size: 10em;
}

form>input[type=submit] {
    width: 100%;
    height: 40px;
    border: 1px solid #5498C5;
    border-radius: 5px;
    font-size: 1em;
}

form>input[type=submit]:hover,
form>a:hover {
    background-color: #5498C5;
    color: snow;
    cursor: pointer;
}

form>a {
    display: block;
    width: 100%;
    margin-top: 5px;
    height: 40px;
    border: 1px solid #5498C5;
    border-radius: 5px;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    color: black;
}